- @selected = :subscribers
- @title = "Subscribers"

- @subscribers = ["Ann Mahler", "Cary Curtis", "Edward Fleck", "Jeff Bradley", "Katherine Jamison", "Keith Aleman", "Pamela Moulton", "Steve Orlando", "Suzanne Koch"].map { |name| Subscriber.new(name) }


%table.index#subscribers{:border=>0, :cellpadding=>0, :cellspacing=>0}
  %tr
    %th.name Name
    %th.email Email Address
  %tbody
    - for subscriber in @subscribers
      %tr[subscriber]
        %td.name= subscriber.name
        %td.email= link_to_email subscriber.name.downcase.gsub(/\s+/, '.') + "@" + ["gmail.com", "att.net", "yahoo.com"].rand