html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #333;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 80%; }

h1 {
  font-size: 220%;
  margin: 0.75em 0 0.75em; }

p, fieldset {
  margin-top: 1em;
  margin-bottom: 1em; }

p, li {
  line-height: 130%; }

.clear {
  clear: both;
  font-size: 0;
  margin: 0;
  padding: 0; }

p.message {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 15px; }
  p.message.error {
    background-color: #fee;
    color: #c33;
    border-top-color: #d99;
    border-bottom-color: #d99; }

form fieldset {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 15px; }
form .set {
  margin-top: 1em;
  margin-bottom: 1em; }
  form .set p {
    float: left;
    margin: 0 1em 0 0; }
form label {
  display: block;
  margin-bottom: 0.2em; }
  form label.inline, form label.checkbox {
    display: inline;
    margin-bottom: 0; }
form input.textbox {
  font-size: 100%; }
  form input.textbox.big {
    font-size: 140%; }
form input.button {
  font-size: 140%; }
form .buttons {
  margin-top: 2em;
  margin-bottom: 2em; }
form .field_with_errors input.textbox {
  background: #fee; }
form .field_error {
  color: #c00;
  display: block; }

#header {
  background: #666;
  padding: 15px 8px 8px; }
  #header p.info {
    color: #ccc;
    float: right;
    margin: -3px 0 0;
    font-size: 90%; }
    #header p.info strong {
      color: #eee;
      font-weight: normal; }
    #header p.info a {
      color: #ddd;
      padding: 4px 0; }
      #header p.info a:hover {
        color: #fff;
        background-color: #777; }
  #header #navigation {
    display: inline;
    text-align: left; }
    #header #navigation a {
      color: #ccc;
      background: #777;
      padding: 8px 12px 8px;
      text-decoration: none;
      border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      -webkit-border-top-right-radius: 5px; }
      #header #navigation a:hover {
        color: white;
        background: #999; }
    #header #navigation ul {
      display: inline; }
    #header #navigation li {
      display: inline; }
      #header #navigation li.here a {
        background: white;
        color: #333; }

#content {
  padding: 0 15px; }

#footer {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  color: #888;
  font-size: 90%;
  padding: 15px; }
