html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #333;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 80%; }

a {
  color: #2285cc; }
  a:hover {
    color: #44b0ee;
    text-decoration: none; }
  a.cancel {
    color: #e33; }

big {
  font-size: 130%; }

small {
  font-size: 80%; }

h1 {
  font-size: 220%;
  margin: 0.75em 0 0.75em; }

h2 {
  font-size: 180%;
  margin-top: 1em; }

h3 {
  font-size: 130%;
  margin-top: 1em;
  margin-bottom: 0.5em; }

h4 {
  font-size: 110%; }

p, fieldset, table, ul, ol {
  margin-top: 1em;
  margin-bottom: 1em; }

p, li {
  line-height: 130%; }

.clear {
  clear: both;
  font-size: 0;
  margin: 0;
  padding: 0; }

p.message {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 15px; }
  p.message.error {
    background-color: #fee;
    color: #c33;
    border-top-color: #d99;
    border-bottom-color: #d99; }

form fieldset {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 15px; }
form .set {
  margin-top: 1em;
  margin-bottom: 1em; }
  form .set p {
    float: left;
    margin: 0 1em 0 0; }
form label {
  display: block;
  margin-bottom: 0.2em; }
  form label.inline, form label.checkbox {
    display: inline;
    margin-bottom: 0; }
form input.textbox {
  font-size: 100%; }
  form input.textbox.big {
    font-size: 140%; }
form input.button {
  font-size: 140%; }
form textarea {
  font-size: 100%;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif; }
form .buttons {
  margin-top: 2em;
  margin-bottom: 2em; }
  form .buttons a {
    color: #e33; }
  form .buttons input {
    font-size: 140%; }
form .field_with_errors input.textbox {
  background: #fee; }
form .field_error {
  color: #c00;
  display: block; }

#header {
  background: #666;
  padding: 15px 8px 8px; }
  #header p.view_teaser {
    float: right;
    margin: -3px 0 0;
    font-size: 90%;
    margin-left: 10px;
    margin-right: -1px; }
    #header p.view_teaser a {
      background: #d60;
      color: white;
      padding: 6px 8px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      text-decoration: none; }
      #header p.view_teaser a:hover {
        background: #c30;
        color: white; }
  #header p.info {
    color: #ccc;
    float: right;
    margin: -3px 0 0;
    font-size: 90%; }
    #header p.info strong {
      color: #eee;
      font-weight: normal; }
    #header p.info a {
      color: #ddd;
      padding: 4px 0; }
      #header p.info a:hover {
        color: #fff;
        background-color: #777; }
  #header #navigation {
    display: inline;
    text-align: left; }
    #header #navigation a {
      color: #ccc;
      background: #777;
      padding: 8px 12px 8px;
      text-decoration: none;
      border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      -webkit-border-top-right-radius: 5px; }
      #header #navigation a:hover {
        color: white;
        background: #999; }
    #header #navigation ul {
      display: inline; }
    #header #navigation li {
      display: inline; }
      #header #navigation li.here a {
        background: white;
        color: #333; }

#content {
  padding: 10px 20px; }
  #content h1 {
    font-size: 180%; }
  #content table.index {
    border-bottom: 1px solid #e5e5e5;
    margin: 1em 0;
    text-align: left;
    width: 100%; }
    #content table.index th {
      background: #f0f0f0;
      color: #999;
      font-size: 80%;
      font-weight: normal;
      padding: 5px 2px 4px;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    #content table.index td {
      padding: 10px 2px;
      border-top: 1px solid #e5e5e5; }
    #content table.index a {
      padding: 0 5px; }
  #content .box {
    background-color: #f0f0f0;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 15px 0 20px;
    padding: 0 15px; }
    #content .box h3 {
      margin-top: 13px; }
    #content .box big.domain {
      color: #759; }
    #content .box #logo img {
      background: white;
      border: 1px solid #ddd;
      padding: 15px; }
    #content .box .logo_uploader {
      background: white;
      border: 1px solid #ddd;
      line-height: 40px;
      padding: 15px;
      width: 250px; }
      #content .box .logo_uploader input {
        width: 95%; }
    #content .box .title_and_description {
      margin: 1em 0;
      background: white;
      border: 1px solid #ddd;
      padding: 15px 15px 5px; }
    #content .box p.change {
      margin-top: -0.5em; }
  #content .download {
    margin: 2em 0; }
    #content .download h3 {
      display: inline;
      font-size: 100%; }
    #content .download ul {
      margin-left: 0.25em;
      display: inline; }
    #content .download li {
      display: inline; }
    #content .download a {
      border: 1px solid #ddd;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 6px 8px;
      text-decoration: none; }
      #content .download a:hover {
        text-decoration: underline; }

#footer {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  color: #888;
  font-size: 90%;
  padding: 15px 20px; }
