- if @teaser.logo.exists?
  #logo
    %img{:src=>@teaser.logo.url}/

- form_for :subscriber, :url => {:action => :subscribe} do |fields|
  - if flash[:thanks]
    %h1 Thank You!
  - else
    - unless @teaser.title.empty?
      %h1=h @teaser.title
    
    - if errors_on? :subscriber
      %p.errors Please enter a valid email address.
    - else
      - unless @teaser.description.empty?
        %p= @teaser.description
    
    %fieldset
      %p
        %label{:for=>'subscriber_name'} Name
        %input.textbox{:type => 'text', :name=>'subscriber[name]', :id=>'subscriber_name', :value=>(h(@subscriber.name) if @subscriber)}/
      %p
        %label{:for=>'subscriber_email'} Email
        %input.textbox{:type => 'text', :name=>'subscriber[email]', :id=>'subscriber_email', :value=>(h(@subscriber.email) if @subscriber)}/
    
    .buttons
      = fields.submit 'Subscribe'