- if @teaser.logo.exists?
  #logo
    %img{:src=>@teaser.logo.url}/

- form_for :subscriber, :url => {:action => :subscribe} do |fields|
  %h1=h @teaser.title
  
  - if errors_on? :subscriber
    %p.errors Please enter a valid e-mail address.
  - else
    %p=h @teaser.description
  
  %fieldset
    %p
      %label{:for=>'subscriber_name'} Name
      %input.textbox{:name=>'subscriber[name]', :id=>'subscriber_name', :value=>(h(@subscriber.name) if @subscriber)}/
    %p
      %label{:for=>'subscriber_email'} Email
      %input.textbox{:name=>'subscriber[email]', :id=>'subscriber_email', :value=>(h(@subscriber.email) if @subscriber)}/
  
  .buttons
    = fields.submit 'Subscribe'