%h3{:style=>"margin-bottom: 15px"} Custom Template
.box#images
  %p
    %label Images
  %p.instructions
    Coming Soon! Drag and drop images below into the HTML and Styles textboxes on the left.
  %ul
- form_for @teaser.template, :url => admin_teaser_path, :html => {:id => 'template_settings_form'} do |template_fields|
  %fieldset#editor
    %p
      = template_fields.label :source, 'HTML'
      ~ template_fields.text_area :source, :rows=>15, :cols=>60, :class=>"fixed", :style=>"width:100%"
    %p
      = template_fields.label :styles
      ~ template_fields.text_area :styles, :rows=>15, :cols=>60, :class=>"fixed", :style=>"width:100%"
  %p
    = template_fields.submit 'Save Changes', :class => 'button'