#navigation
  %ul
    %li{:class=>(@selected == :dashboard) ? "here" : nil}
      = link_to "Dashboard", dashboard_path
    %li{:class=>(@selected == :teaser) ? "here" : nil}
      %a{:href=>"/teaser/"} Teaser Page
    %li{:class=>(@selected == :subscribers) ? "here" : nil}
      %a{:href=>"/subscribers/"} Subscribers
    %li{:class=>(@selected == :settings) ? "here" : nil}
      %a{:href=>"/settings/"} Settings