#navigation
  %ul
    %li{:class=>(@selected == :dashboard) ? "here" : nil}
      = link_to "Dashboard", dashboard_path
    %li{:class=>(@selected == :teaser) ? "here" : nil}
      = link_to "Teaser Page", "/teaser"
    %li{:class=>(@selected == :subscribers) ? "here" : nil}
      = link_to "Subscribers", "/subscribers"