!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %title= @title || "AnnounceIt"
    %link{:href=>"/stylesheets/application.css", :rel=>"stylesheet", :type=>"text/css", :media=>"all"}/
  %body
    #header
      #navigation
        %ul
          %li{:class=>(@selected == :overview) ? "here" : nil}
            %a{:href=>"/overview/"} Overview
          %li{:class=>(@selected == :teaser) ? "here" : nil}
            %a{:href=>"/teaser/"} Teaser Page
          %li{:class=>(@selected == :subscribers) ? "here" : nil}
            %a{:href=>"/subscribers/"} Subscribers
          %li{:class=>(@selected == :settings) ? "here" : nil}
            %a{:href=>"/settings/"} Settings
    #content
      = yield
    = render :partial => "/layouts/footer"