!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %title= @title || "AnnounceIt"
  %body
    #header
      #navigation
        %ul
          %li
            %a{:href=>"/signup/"} Sign Up
          %li
            %a{:href=>"/login/"} Login
    #content
      = yield
    = render :partial => "/layouts/footer"