!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}/
    %title= [application_name, @title ].compact.uniq.join(": ")
    %link{:href=>"/stylesheets/public.css", :rel=>"stylesheet", :type=>"text/css", :media=>"all"}/
  %body
    #content
      %h1= @title
      = yield
    = render :partial => "/layouts/footer"