!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %title= [@title, "AnnounceIt"].compact.join(" - ")
    %link{:href=>"/stylesheets/public.css", :rel=>"stylesheet", :type=>"text/css", :media=>"all"}/
  %body
    #content
      %h1= @title
      = yield
    = render :partial => "/layouts/footer"