!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %title=h @teaser.title
    %link{:href=>"/stylesheets/teaser.css", :rel=>"stylesheet", :type=>"text/css", :media=>"all"}/
  %body
    = yield